6º Semestre/Linguagens de Marcação Extensíveis/agenda.dtd

<?xml version="1.0" encoding="ISO-8859-1"?>

<!ELEMENT agenda (entrada|grupo)*>

<!ELEMENT grupo (entrada|ref)*>
<!ATTLIST grupo gid ID #REQUIRED>

<!ELEMENT entrada (nome, email?, telefone)>
<!ATTLIST entrada id ID #REQUIRED>
<!ATTLIST entrada tipo CDATA #IMPLIED>

<!ELEMENT ref EMPTY>
<!ATTLIST ref entref IDREF #REQUIRED>

<!ELEMENT nome (#PCDATA)>
<!ELEMENT email (#PCDATA)>
<!ELEMENT telefone (#PCDATA)>