6º Semestre/Linguagens de Marcação Extensíveis/poema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- W3C Schema generated by XMLSpy v2019 rel. 3 sp1 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="autor">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="(Álvaro de Campos)"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="corpo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="quadra" minOccurs="2" maxOccurs="2"/>
				<xs:element ref="terno" minOccurs="2" maxOccurs="2"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="data">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="(1922)"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="lugar">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Iorque"/>
				<xs:enumeration value="Londres"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="nome">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Cecily"/>
				<xs:enumeration value="Daisy"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="poema">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="titulo"/>
				<xs:element ref="autor"/>
				<xs:element ref="corpo"/>
				<xs:element ref="data"/>
			</xs:sequence>
			<xs:attribute name="tipo" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="soneto"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="quadra">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="verso" minOccurs="4" maxOccurs="4"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="terno">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="verso" minOccurs="3" maxOccurs="3"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="titulo">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Soneto Já Antigo"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="verso">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0">
				<xs:element ref="lugar" maxOccurs="unbounded"/>
				<xs:element ref="nome"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
</xs:schema>
